# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# Django
db.sqlite3
media/
staticfiles/

# VS Code
.vscode/

# Byte-compiled / optimized / DLL files
*.so

# Distribution / packaging
*.egg-info/
dist/
build/
